:root {
  --min-screen-height: 1000px;
}
.appWrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.5fr 0.9fr;
  grid-template-rows: 2.75rem 3fr 2.75rem;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar leftmenu content rightmenu"
    "footer footer footer footer";
  gap: 0.75rem 0.4rem;
}
@media screen and (orientation: portrait) and (max-width: 813px) {
  .appWrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
    background-color: blueviolet;
    max-height: 100%
  }
}

.mobileMenu {
  position: fixed;
  min-width: 550px;
  left: 50%;
  top: 4.5em;
  transform: translate(-50%);
  border-radius: 5px;
  background-color: white;
  padding: 1em 1em 1em 1em;
  z-index: 1000;
}
